.content-card{
  display: flex;
  margin-top: 10px;

  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
.image-contact{
  max-width: 100px;
  border-radius: 50%;
}
.content-card-main{
  display: flex;
  flex-direction: row;
}

.navBar{
  margin: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}