.content-card{
  display: flex;

  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
}
.image-contact{
  max-width: 100px;
  border-radius: 50%;
}
.content-card-main{
  display: flex;
  flex-direction: row;
}